html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}

.wrapper {
  border: 2px solid white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}

.container {
  width: 83vw;
  height: 100vh;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 24px 100px 1fr 80px;
  grid-template-rows: 24px 1fr 2px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo home navbar login"
    "content content content content"
    "orange orange orange orange"
    "footer footer footer footer";
}

.logo {
  grid-area: logo;
  background-color: #ff6600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  grid-area: home;
  background-color: #ff6600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  grid-area: navbar;
  background-color: #ff6600;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.login {
  grid-area: login;
  background-color: #ff6600;
}

.content {
  grid-area: content;
  background-color: #f6f6ef;
  padding-top: 10px;
  padding-bottom: 15px;
}

.orange {
  width: 83vw;
  background-color: #ff6600;
}

.footer {
  grid-area: footer;

  background-color: #f6f6ef;
}

ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding-left: 7px;
  padding-bottom: 4px;
  color: #000;
}

ul li {
  font-size: 13px;
}

.black {
  color: #000;
  font-size: 13px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #000;
}

#subtext {
  font-size: 7pt;
  color: #7c7c78;
}

#title {
  font-size: 9pt;
}

#flex {
  display: flex;
}